.wrapper {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 2px dashed #c655cf;
    position: relative;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(120deg, #4e3894, #c655cf);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

.central {
    color: lightgrey;
}

.col-12 {
    height: 600px;
}