/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Custom colors */

:root {
    --primary-color: #001d3d;
    --secondary-color: #003566;
    --accent-color: #ffc300;
    --dark-color: #000814;
    --light-color: #ebebeb;

    --title-font: 'Raleway', sans-serif;
    --normal-font: 'Open Sans', sans-serif;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.accent-color {
    color: var(--accent-color);
}

.dark-background {
    background-color: var(--primary-color);
    color: var(--light-color)
}

.secondary-background {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.light-background {
    background-color: var(--light-color);
    color: var(--primary-color);
}

/* Fonts assigned */

* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, .title-font {
    font-family: 'Raleway', sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
    font-weight: bold;
}

/* NAVBAR */
.navbar {
    z-index: 2;
}

.navbar a {
    color: var(--light-color);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--accent-color);
}

.navbarLogo {
    font-family: var(--title-font);
    font-style: bold;
    font-size: larger;
}

.collapsed-icons {
    margin: 0px 10px;
}

/* Search button*/
.searchButton {
    color: var(--light-color) !important;
    border-color: var(--light-color) !important;
}

.categories {
    display: flex;
    justify-content:space-evenly !important;
}

/* CAROUSEL */

.carousel {
    background-color: white;
}

.carousel-title {
    font-family: var(--title-font);
    color: var(--dark-color);
    font-size: xx-large;
    font-weight: bold;
}

.carousel-text {
    font-family: var(--title-font);
    color: var(--dark-color);
    font-size: x-large;
}

/* CARDS */
.category-card {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-card button {
    background-color: transparent;
    border: 1px solid var(--light-color);
    border-radius: 10px;
    transition-duration: 0.4s;
    width: 200px;
    padding: 5px 0px;
    color: var(--light-color);
}

.category-card button:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: 1px solid var(--accent-color);
}


/* CIRCLE */
.tips {
    background-color: white;
    padding: 10px;
}

.wrapper {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px dashed var(--secondary-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(120deg, var(--primary-color), var(--secondary-color));
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.central {
    color: var(--accent-color);
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .wrapper {
        height: 300px;
        width: 300px;
    }
    
    .child {
        height: 50px;
        width: 50px;
        
        position: absolute;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
    }
}

.iconText {
    font-size: medium;
    font-weight: bold;
    color: var(--primary-color);
}

/* NEWEST ARTICLES */
.product-card {
    border-radius: 5px;
    height: 300px;
    width: 300px;
    border-bottom: 8px solid var(--accent-color);
    padding: 10px;
    color: var(--dark-color);
    text-decoration: none;
}

.product-card:hover {
    border: 3px solid var(--accent-color);
    color: var(--dark-color);
}

.products-wrapper {
    margin-top: 100px;
}

.products-wrapper a {
    color: var(--dark-color);
    text-decoration: none;
}

.product-button {
    padding: 10px;
    border-radius: 10%;
    border: 0px;
    background-color: white;
    height: 100%;
}

/* FOOTER */
footer{
    color: grey;
    padding-top: 10px;
    background-color: var(--primary-color);
}

.footer-links p {
    color: var(--light-color);
    margin-top: 20px;
}

.footer-links a {
    color: grey;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-logo {
    font-size: 35px;
    text-align: center;
    opacity: 0.5;
    padding: 15px;
}

.footer-company {
    text-align: center;
    margin-bottom: 15px;
}

/* PRODUCTS PAGE */

.h1-row {
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
}

.showedProducts {
    padding-right: 20px;
    position: sticky;
    background-color: var(--light-color);
    z-index: 2;
    text-align: center;
}

.filter-column {
    min-height: 100vh;
    background-color: var(--accent-color);
    padding: 20px;
}

.accordionsWrapper {
    position: sticky;
}

.cards-wrapper {
    background-color: var(--light-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.accordion-button:not(.collapsed) {
    color: var(--primary-color);
    background-color: var(--light-color);
}

.form-check-input:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.accordion-button:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 0.25rem var(--accent-color);
}

/* SINGLE PAGE PRODUCT */

.rmv-button {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.rmv-button:hover {
    font-weight: lighter;
    color: var(--light-color);
}

.add-button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.add-button:hover {
    font-weight: bold;
    color: var(--secondary-color);
}

/* LOGIN PAGE */

.login-button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    margin: 5px;
}

.login-button:hover {
    font-weight: bold;
    border: 2px solid var(--accent-color);
    color: var(--primary-color);
}

.register-link {
    color: var(--primary-color);
    font-size: large;
}

.register-link:hover {
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
}

.register-button {
    background-color: var(--primary-color);
    color: var(--accent-color);
    margin: 5px;
}

.register-button:hover {
    font-weight: bold;
    border: 2px solid var(--primary-color);
    color: var(--accent-color);
}

.login-link {
    color: var(--primary-color);
    font-size: large;
}

.login-link:hover {
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
}

/* USER PAGE */

.user-pic {
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    padding: 4px;
}

/* ADMIN PAGE */
.no-button {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.no-button:hover {
    font-weight: lighter;
    color: var(--light-color);
}

.yes-button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.yes-button:hover {
    font-weight: bold;
    color: var(--secondary-color);
}